<h1>Agregar un nuevo mosntruo</h1>
<hr>

<% m = Monster.new %>
<%= form_with model: m do |f| %>
<div class=form-group>
    <label for="nombre_monster" class="form-label p-1" style="font-size:0.94rem">Nombre del monstruo </label>
    <%= f.text_area :name, placeholder: "...", class:"form-control", id:"nombre_monster", rows:1%>

    <label for="desription_monster" class="form-label p-1" style="font-size:0.94rem; margin-top:8px">Descripción del monstruo </label>
    <%= f.text_area :description, placeholder: "...", class:"form-control", id:"desription_monster", rows:5%>

    <div class="d-flex justify-content-end">
        <%= f.submit "Agregar", class:"btn btn-info"%>
    </div>
  </div>
<% end %>
